:root{
    --vermelho: #E50914;
    --preto: #141414;
    --branco: #AAA;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--preto);
    font-family: 'Lucida Sans', 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    color: var(--branco);
    margin-right: 10px;
    font-weight: 900;
}

header nav a:hover{
    color: white;
}

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/cadeira-gamer.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descricao{
    margin-top: 10px;
    margin-bottom: 40px;
     
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right:15px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 30vh;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

@media screen and (max-width: 700px){
    header .container{
        flex-direction: column;
    }

    .botao{
        width: 190px;
        height: 70px;
    }

    .botoes{
        width: 30rem;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 68%;
    }
}
